.footer-container {
    width: 100%;
    height: 20rem;
    background-color: #BBE1FA;
    margin-top: 45rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .menu-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3rem auto;
    }

    #nurse-and-doctor {
        background-image: url("../../materials/worker.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 15rem;
        height: 15rem;
        position: relative;
        margin: auto;
        top: -13rem;
    }
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin: 2rem;
    float: right;
}

#instagram {
    background-image: url("../../materials/instagram.png");
}

#facebook {
    background-image: url("../../materials/facebook.png");
}

@media screen and (max-width: 1300px) {
    .footer-container {
        margin-top: 20rem;
        height: 14rem;

        #nurse-and-doctor {
            width: 13rem;
            top: -10rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer-container {
        margin-top: 23rem;
        height: 13rem;
    }
}

@media screen and (max-width: 1050px) {
    .footer-container {
        margin-top: 25rem;
        height: 13rem;
        
        #nurse-and-doctor {
            width: 10rem;
            top: -6rem;
        }
    }

    
}


@media screen and (max-width: 450px) {
    .footer-container {
        margin-top: 20rem;

        .menu-item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .nav-link{
            padding: 0;
            width: 4rem;
        }

    }
    .icon {
        margin:0.3rem;
    }
    }
}