@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');

.statistic-container {
    height: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;

    h4 {
        font-family: 'Overlock', cursive;
    }

    .counter-box {
        display: flex;
        flex-direction: column;
        margin: 10rem auto;
        color: rgb(14, 9, 9);
        text-align: center;
        padding: 2rem;

        span {
            font-size: 3rem;
        }
    }
}


@media screen and (max-width: 1300px) {
    .statistic-container {
        .counter-box {
            margin: 6rem auto;
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .statistic-container {
        .counter-box {
            margin: 3.5rem auto;
        }
    }
}

@media screen and (max-width: 1050px) {
    .statistic-container {
        .counter-box {
            margin: -1rem auto;
        }
    }
}

@media screen and (max-width: 900px) {
     .statistic-container {
        .counter-box {
            margin: -8rem auto;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 900px) {
    .statistic-container {
        .counter-box {
            margin: 0 auto;
            font-size: x-small;

            span{
                font-size: x-small;
            }

            h5{
                font-size: small;
            }
        }
    }
}