@import url("https://fonts.googleapis.com/css?family=Overlock&display=swap");
.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main-container .text-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55% 1fr 1fr;
      grid-template-rows: 55% 1fr 1fr;
}

.main-container .text-container #main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Overlock', cursive;
  font-size: 4rem;
}

.main-container .text-container #main-title #hearth {
  background-image: url("../../materials/blue-hearth.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 7rem;
  height: 5rem;
}

.main-container .text-container #main-title p {
  font-size: 10rem;
  color: #1266cd;
  position: relative;
  margin-left: 1rem;
  top: 2.5rem;
}

.main-container .text-container #informal-text {
  margin-top: 2rem;
  text-align: left;
  margin-left: 12rem;
}

.main-container .text-container #read-more {
  background-color: #192965;
  width: 15rem;
  height: 3rem;
  border-radius: 20px;
  color: white;
  margin: 0 auto;
}

.main-container #main-blue-shape {
  background-image: url("../../materials/blue-shape.png");
  width: 50rem;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -3rem;
}

.main-container #main-blue-shape #workers {
  background-image: url("../../materials/docurs.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40rem;
  height: 30rem;
  position: relative;
  left: 7rem;
  top: 2rem;
}

#quote {
  margin-top: 20rem;
  width: 100%;
  height: 23rem;
  background-color: #192965;
}

#quote h1 {
  color: white;
  font-family: 'Overlock', cursive;
  font-size: 4rem;
  position: relative;
  left: 6rem;
  top: 4rem;
}

#quote p {
  float: right;
  position: relative;
  right: 6rem;
  top: 4rem;
  color: white;
}

.doctors-and-infos {
  margin-top: 6rem;
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.doctors-and-infos #stethoscope {
  background-image: url("../../materials/stetoschope.jpg");
  background-repeat: no-repeat;
  width: 20rem;
  height: 20rem;
  background-size: contain;
  margin: auto;
}

.doctors-and-infos #medical {
  background-image: url("../../materials/medical.png");
  background-repeat: no-repeat;
  width: 20rem;
  height: 20rem;
  background-size: contain;
  margin: auto;
}

.doctors-and-infos .text {
  margin: auto;
  padding: 6rem;
}

.doctors-and-infos .more-infos {
  background-color: transparent;
  border: none;
  color: #192965;
}

#form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15rem;
}
/*# sourceMappingURL=homepage.style.css.map */