.top-container {
    width: 100%;
    height: 15rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 24%, 58% 64%, 0 81%, 0 0);
    background-color: #192965;
    padding: 2rem;
    

    h2 {
        color: rgb(255, 255, 255);
    }
}

.doctor-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}