@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');


.card-container{
    width: 25rem;
    height: 14rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .colored-header{
        width: 25rem;
        height: 5rem;
        border-top-left-radius: 20px;
        background-color: #BBE1FA;
        position: absolute;

    }


    .avatar{
        background-image: url("../../materials/avatar.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        border: solid 0.4em rgb(252, 254, 255);
        position: relative;
        z-index: 100;
    }

    h4{
        color: black;
        z-index: 100;
        margin: 1rem;
        font-family: 'Overlock', cursive;
    }

    .book-button{
        width: 8rem;
        height: 4rem;
        margin: 6rem auto;
        background-color: transparent;   
        border-radius: 20px;    
    }
}