.card-container{
    width: 25rem;
    height: 13rem;
    box-shadow: -9px 15px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    margin: 2rem;
    text-align: center;


    .avatar{
        background-image: url("../../materials/avatar.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        border: solid 0.4em rgb(252, 254, 255);
        position: relative;
        z-index: 100;
    }
}