@import url('https://fonts.googleapis.com/css?family=Overlock&display=swap');

$main-text-color: #192965;

.nav-container {
    color: rgb(248, 248, 248);
    text-align: center;

    .navbar-toggler-icon i{
        font-size: 2.5rem;
    }

    a {
        color: $main-text-color;
        letter-spacing: 0.07rem;
        margin: 0.5rem;
    }

    button {
        color: $main-text-color;
        border: none;
        margin: 1rem;
        padding: 0;
    }

    .promt-window {
        width: 16rem;
        height: 13rem;
        z-index: 100;
        position: absolute;
        background-image: url("../../materials/pop-up.png");
        background-size: cover;
        background-repeat: no-repeat;
            h5 {
                margin-top: 6rem;
                font-family: 'Overlock', cursive;
            }
    }

    .for-call{
        top: 4rem;
        right: 6rem;
    }

    .for-chat{
        top: 4rem;
        right: 2rem;
    }

}

.hidden {
    display: none;
}

@media screen and (max-width: 990px) {
    .nav-container {
        display: flex;
        box-shadow: -1px -1px 15px -5px rgba(109,143,173,1);

        .navbar-toggler-icon i{
            font-size: 2rem;
        }

        .nav-item ,.contact{
            margin: 0;
            width: 100%;
            font-weight: bold;
            background-color: #1266cd;
            padding: 0.7rem;
            border-bottom: solid 0.3px white;
            color: white;
            letter-spacing: 0.2rem;
            
            a{
                color: white;
                letter-spacing: 0.2rem;
            }
        }

    }   
}