#frame{
    background-image: url("../../materials/frame.png");
    background-size: contain;
    width: 50%;
    height: 60rem;
    height: 90vh;
    background-repeat: no-repeat;
    margin: auto;
    padding: 2rem;
}
