$fixed-margin-common: 5rem;


#frame{
    background-image: url("../../materials/frame.png");
    background-size: contain;
    width: 60%;
    height: 60rem;
    background-repeat: no-repeat;
    margin: auto;
    padding: 2rem;
}

.align-text{
    display: flex;
    justify-content: center;
    margin-top: $fixed-margin-common;
}

.dot-separator{
    margin: -4rem;
    font-size: 5rem;
    color: #5A82BF;
}

.form-container{
    display: flex;
    justify-content: center;
    margin-top: $fixed-margin-common;

    .form-check{
        margin: 2rem 0;
    }
}