$fixed-margin-common: 3rem;


#frame{
    width: 50%;
    height: 60rem;
    height: 100vh;
    margin: 0rem auto;
    padding: 0rem;
}

.align-text{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-size: 3.5vw;
    margin-top: $fixed-margin-common;
}

.dot-separator{
    margin: -4rem;
    font-size: 5rem;
    color: #5A82BF;
}

.form-container{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    position: relative;

    form{
        width: 70%;

        input{
            border: none;
            border-bottom: solid 1px black;
            border-radius: 0;
        }
    }

    label{
        font-size: 1rem;
        font-size: 1.5vw;
    }


    .form-check{
        margin: 2rem 0;
    }

    .sign-up-button.btn{
        margin: 2rem;
        width: 9rem !important;
    }
}

@media screen and (max-width: 1200px) {
    #frame{
            .form-container{
                margin: 0;

                .form-group{
                    margin-bottom: 0.7rem;
                }
                .form-check{
                    margin: 1rem;
                }
            }
    }
}

@media screen and (max-width: 1000px) {
    #frame{
        margin-top:2rem;
            .form-container{
                .form-group{
                    margin-bottom: 0.3rem;
                }
                .form-check{
                    margin: 0.7rem;
                }

                .btn{
                    width:4.5rem;
                    height:2rem;
                    font-size: 0.8rem;
                }
            }
    }
}